.item{
  border: 1px solid black;
  margin: 40px;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  .name{
    display: block;
  }
  .image{
    width: 150px;
    img{
      width: 100%;
    }
  }
}